################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Order.Service/obj
/OrderDetails.ApiGateway/obj
/User.Service/obj
/UserService.Data
